.menu-button {
	position: relative;
	left: -12px;
	margin-right: -8px !important;
	color: var(--header_text) !important;
}

.drawer-content {
	height: 100%;
	min-width: 250px;
	color: var(--text);
	background: var(--elements);
	transition: var(--background-transition) var(--color-transition);
}

.drawer-header {
	box-sizing: border-box;
	padding: 0.5em var(--content-margin);
	height: var(--header-height);
}

.drawer-divider {
	height: 0;
	width: 100%;
	border-bottom: 1px solid var(--border-color-bold);
}

.drawer-nav {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

.drawer-nav-link {
	text-decoration: none;
	color: inherit;
	padding: 16px var(--content-margin);
}

.drawer-nav-link-active {
	background-color: var(--border-color);
}

.drawer-nav-link:hover {
	background-color: var(--border-color-bold);
}
