
.analytics-card {
	background: var(--elements) !important;
	color: var(--text) !important;
	transition: var(--background-transition), var(--color-transition) !important;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.analytics-form {
	width: fit-content;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.analytics-input {
	color: var(--text) !important;
}

.analytics-submit-button {
	margin-top: 0.5em !important;
}

.stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
	gap: 1em;
	margin: 1em 24px;
}

.stats-card {
	background: var(--elements) !important;
	color: var(--text) !important;
	transition: var(--background-transition), var(--color-transition) !important;
	min-width: 16em;
}
