
.Day {
	margin-bottom: 0.5em;
	background: var(--elements) !important;
	color: var(--text) !important;
	transition: var(--background-transition), var(--color-transition) !important;
}

.Day .Date {
	margin-bottom: 0.75em !important;
}

.Day .Content {
	display: flex;
}

.Day .Names, .Day .BarGraphs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-family: Roboto, sans-serif;
}

.Day .Names {
	margin-right: 0.5em;
	width: 5em;
}

.Day .NameListing {
	border-left-width: 0.25em;
	border-left-style: solid;
	padding-left: 0.25em;
}

.Day .BarGraphs {
	border-left: 1px solid var(--text);
	border-right: 1px solid var(--text);
	width: 100%;
}
