#appBar {
	margin-bottom: 1.4em;
	color: var(--header_text);
	background: var(--header);
	transition: var(--background-transition) !important;
}

#home {
	/*cursor: pointer;*/
	margin-right: var(--content-margin);
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-nav-item {}

.header-nav-link {
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	height: var(--header-height);
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

.header-nav-link-active {
	border-bottom: 2px solid pink;
}

.header-nav-link:hover {
	background-color: var(--grey);
}

.header-nav-link-text {
	margin-left: auto;
	margin-right: auto;
}

.lightModeButton {
	margin-left: auto !important;
	color: var(--header_text) !important;
}
