
.Histogram {
	margin-bottom: 0.5em;
	background: var(--elements) !important;
	color: var(--text) !important;
	transition: background 500ms ease-in-out, color 1000ms ease-in-out !important;
}

.HistogramContent {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 20em;
	width: 100%;
	border: 0.05em solid var(--text);
}

.HistogramBar {
	background-color: var(--primary);
	flex-grow: 1;
}
