
.intervals {
	position: relative;
	display: flex;
	height: 1em;
}

.intervals .bar {
	position: absolute;
	z-index: 5;
	height: 100%;
}

.intervals .sight-helper {
	position: relative;
	top: 50%;
	width: 100%;
	height: fit-content;
	border-top: 1px dashed;
}
