
.stats-table-paper {
	margin-left: var(--content-margin);
	margin-right: var(--content-margin);
	margin-bottom: 1em;
	transition: var(--background-transition), var(--color-transition) !important;
}

.stats-table-cell {
	transition: var(--color-transition) !important;
}
