
:root {
	--white: #FFFFFF;
	--blue: #3f51b5;
	--grey_dark: #23272A;
	--grey: #2C2F33;
	--grey_light: #393D41;
	--black: #000000;
}

body {
	margin: 0;
	padding: 0;
	background: var(--wallpaper);
	color: var(--text);
	transition: var(--background-transition), var(--color-transition);
	font-family: Roboto, sans-serif;

	--background-transition: background 500ms ease-in-out;
	--color-transition: color 1000ms ease-in-out;
}

.light {
	--header: var(--blue);
	--wallpaper: var(--white);
	--elements: var(--white);
	--text: var(--black);
	--header_text: var(--white);
	--primary: var(--blue);
	--border-color: rgba(0, 0, 0, 0.12);
	--border-color-bold: rgba(0, 0, 0, 0.24);
	--border-color-bolder: rgba(0, 0, 0, 0.72);
}

.dark {
	--header: var(--grey_dark);
	--wallpaper: var(--grey);
	--elements: var(--grey_light);
	--text: var(--white);
	--header_text: var(--white);
	--primary: var(--blue);
	--border-color: rgba(255, 255, 255, 0.12);
	--border-color-bold: rgba(255, 255, 255, 0.24);
	--border-color-bolder: rgba(255, 255, 255, 0.72);
}
