
:root {
	font-family: Roboto, sans-serif;

	--white: #FFFFFF;
	--blue: #3F51B5;
	--grey_dark: #23272A;
	--grey: #2C2F33;
	--grey_light: #393D41;
	--black: #000000;

	--header-height: 64px;
	--content-margin-large: 24px;
	--content-margin-small: 16px;
	--content-margin: var(--content-margin-small);
}

/* Adjust settings for large devices */
@media only screen and (min-width: 720px) {
	:root {
		--content-margin: var(--content-margin-large);
	}
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background: var(--wallpaper);
	color: var(--text);

	--background-transition: background 500ms ease-in-out;
	--color-transition: color 500ms ease-in-out;
}

.body-transition {
	transition: var(--background-transition), var(--color-transition);
}

.light {
	--header: var(--blue);
	--wallpaper: var(--white);
	--elements: var(--white);
	--text: var(--black);
	--header_text: var(--white);
	--primary: var(--blue);
	--border-color: rgba(0, 0, 0, 0.12);
	--border-color-bold: rgba(0, 0, 0, 0.24);
	--border-color-bolder: rgba(0, 0, 0, 0.72);
}

.dark {
	--header: var(--grey_dark);
	--wallpaper: var(--grey);
	--elements: var(--grey_light);
	--text: var(--white);
	--header_text: var(--white);
	--primary: var(--blue);
	--border-color: rgba(255, 255, 255, 0.12);
	--border-color-bold: rgba(255, 255, 255, 0.24);
	--border-color-bolder: rgba(255, 255, 255, 0.72);
}
